<div class="card">
  <div class="card-body">
      
    <h1 id="main-head">Items List</h1><br>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Item Name" [(ngModel)]="newItem">
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button" (click)="add()">ADD</button>
      </div>
    </div>
      
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of itemsList; let i = index">
        {{item}} 
        <span class="cross-mark" (click)="del(i)">x</span>
      </li>
    </ul>

  </div>
</div>
