.card{
    width: 800px;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
}
.card-body{
    text-align: center;
    background-color: black;
}
#main-head{
    color: aqua;
    text-decoration-line: underline;
}
.list-group{
    text-align: left;
    color: blue;
}
.cross-mark{
    float: right;
    cursor: pointer;
    color: red;
}